<!DOCTYPE html>
<html ng-app="ShoppingModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="controllist.js"></script>
</head>
<body>
<div id="shoppinglist" ng-controller="ShoppingController">
    <div ng-repeat="item in items">
        <span ng-bind="item.name"></span><input type="text" ng-model="item.quantity"/> <span ng-bind="item.price*item.quantity"></span>
    </div>
</div>

</body>
</html>